extends layout

block content
    .container-fluid
        .row.content
            .col-sm-2.sidenav
                ul.nav.nav.pills.nav-stacked
                    li.active
                      a(href="/posts/add") Add an Idea
                    if categories
                    each category, i in categories
                      li
                        a(href="/categories/show/#{category.title}") #{category.title}
            .col-sm-9
              if posts
              each post, i in posts
                 .post
                    h1 
                       a(href='/posts/show/#{post._id}')
                         =post.title
                    p.meta Posted in 
                       a(href="/categories/show/#{post.category}") #{post.category} by #{post.author} on #{moment(post.date).format("MM-DD-YYYY")}
                    img(src='/images/uploads/#{post.mainimage}')
                    !=truncateText(post.body, 400)
                    a.more(href='/posts/show/#{post._id}') Read More
              else
                p.noposts There are no posts to display
                     

