extends layout

block content
    nav.navbar.navbar-default.navbar-fixed-top.sidebar(role='navigation')
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-sidebar-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        // Collect the nav links, forms, and other content for toggling
        #bs-sidebar-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
                    li
                      a(href="/posts/add") Add an Idea
                    li
                      a(href="/posts/myposts") My Ideas
                    if categories
                    each category, i in categories
                      li
                        a(href="/posts/bycategory/#{category.title}") #{category.title}
    !=messages()
    .container.text-center.well
              if posts
              each post, i in posts
                 .post
                    h1 
                       a(href='/posts/show/#{post._id}')
                         =post.title
                    p.meta Posted in 
                       a(href="/posts/bycategory/#{post.category}") #{post.category} by #{post.author} on #{moment(post.date).format("MM-DD-YYYY")}
                    img(src='/images/uploads/#{post.mainimage}')
                    !=truncateText(post.body, 400)
                    a.more(href='/posts/show/#{post._id}') Read More
              else
                p.noposts There are no posts to display
                     

